# Node modules
node_modules/

# dotenv environment variables file
.env

# Logs
*.log

# Vercel build output
.vercel/

# NPM package-lock files
package-lock.json
yarn.lock

# IDE/editor specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
.vercel
